/* 工具栏 */
.content .common
{
    height: 23px;
    padding-right: 30px;
    padding-top: 3px;
    text-align: right;
}

.content .common .control
{
    border: 1px solid #A8A8A8;
    background-color: transparent;
    background-repeat: no-repeat;
     padding:0 5px 0 4px;
    cursor: pointer;
    background-color: transparent;
    height: 21px;
    }
.content .common .add, .content .common .edit, .content .common .del,.content .common .export
{
    border: 1px solid #A8A8A8;
    background-color: transparent;
    background-repeat: no-repeat;
    padding-left: 13px;
    padding-right: 3px;
    cursor: pointer;
    background-color: transparent;
    height: 21px;
}
.content .common .add
{
    background-image: url(images/grid/add.gif);
}
.content .common .edit
{
    background-image: url(images/grid/edit.gif);
}
.content .common .export
{
    background-image: url(images/grid/export.gif);
}

.content .common .add:hover, .content .common .edit:hover, .content .common .export:hover,.content .common .control:hover
{
    background-color: #F1F1F1;
}

