.data
{
    padding-left: 20px;
}
.portal .node
{
    font-size: 12px;
    float: left;
}
.node .content ul
{
    margin: 0;
    padding: 0 0 0 25px;
}
.node .content ul li
{
    list-style-type: decimal;
}
.node
{
    border-width: 1px ;
    width: 32%;
    margin-top: 10px;
}
.node .title
{
    background-image: url(images/master/sititle.gif);
    color: #0472BC;
    border-bottom-width: 1px;
    border-left-width: 6px ;
    border-right-width: 6px ;
    padding: 1px 14px;
    line-height: 1.8;
}
.node .content
{
    border-bottom-width: 5px ;
    border-left-width: 5px ;
    border-right-width: 5px;
}
.node .content table
{
    height: 205px;
    width: 100%;
    border-bottom-width: 1px ;
    border-left-width: 1px;
    border-right-width: 1px ;
}
