
.node
{
    border: 1px solid #75B44C;
}
.node .title
{
    background-image: url(images/master/sititle.gif);
    border-bottom: 1px solid #75B44C;
    border-left: 6px solid #56D06D;
    border-right: 6px solid #56D06D;
}
.node .content
{
    border-bottom: 5px solid #E6FAF1;
    border-left: 5px solid #E6FAF1;
    border-right: 5px solid #E6FAF1;
}
.node .content table,.node .content2
{
    border-bottom: 1px solid #75B44C;
    border-left: 1px solid #75B44C;
    border-right: 1px solid #75B44C;
}
