.dataPager
{
    padding-top: 3px;
}
.search
{
    background-color: #F0F0F0;
    border: 1px solid #8FC0E3;
}
/* 查询条件 */
.search .filter
{
    background-color: #DFF4FC;
}
.search .filter select, .search .filter input[type="text"]
{
    border: 1px solid #B5B8C9;
}

/* 模块名称 */
.moduleDesc
{
    border-bottom: 1px solid #DFF4FC;
}
.moduleDesc .split
{
    background-color: #38A9EA;
    border-bottom: 1px solid #0099CA;
    border-top: 1px solid #0099CA;
}
.moduleDesc .title
{
    background-color: #38A9EA;
    border-left: 1px solid #0099CA;
    border-right: 1px solid #0099CA;
    border-top: 1px solid #0099CA;
    color: White;
}
.btnStart
{
    background-image: url(images/master/start.gif);
    width: 58px;
    height: 26px;
    border: 0 none;
    cursor: pointer;
}
.btnStop
{
    background-image: url(images/master/stop.png);
    width: 56px;
    height: 26px;
    border: 0 none;
    cursor: pointer;
}

/*
.flashChart object
{
    border : 5px solid #0099CA;
    }*/

.dataPlay
{
    border: 1px solid #86DAF2;
}
.dataPlay .dataPlayTitle
{
    background-image: url(images/master/dataPlayTitle.gif);
    border-bottom: 1px solid #86DAF2;
}
.div_reportData
{
    border-left: 1px solid #8FC0E3;
    border-right: 1px solid #8FC0E3;
}

.toolsplit
{
    padding: 1px;
    background-color: #CDDEED;
    border-bottom: 1px solid #AEBDCA;
    border-top: 1px solid #AEBDCA;
}
.actionFlashC
{
    margin-top: 1px;
    z-index: 1000;
    background-image: url(images/master/reportTabSel.gif);
}
.actionFlashN
{
    height: 22px;
    margin-top: 2px;
    background-image: url(images/master/reportTab.gif);
}
.actionDataC
{
    margin-top: 1px;
    background-image: url(images/master/reportTabSel.gif);
}
.actionDataN
{
    margin-top: 2px;
    height: 22px;
    background-image: url(images/master/reportTab.gif);
}
.dataPlayBottom .actionFlashC
{
    margin-top: 0px;
    background-image: url(images/master/actionFlashC.gif);
}
.dataPlayBottom .actionFlashN
{
    background-image: url(images/master/actionFlash.gif);
}
.dataPlayBottom .actionDataC
{
    margin-top: 0px;
    background-image: url(images/master/actionDataC.gif);
}
.dataPlayBottom .actionDataN
{
    background-image: url(images/master/actionData.gif);
}
.dataPlay .dataPlayBottom
{
    background-image: url(images/master/dataPlayBottom.gif);
    border-top: 1px solid #86DAF2;
}

.report .tool .days .next
{
    background-image: url(images/master/nextDay.gif);
}
.report .tool .days .prev
{
    background-image: url(images/master/prevDay.gif);
}
.reportflash
{
    background-image: url(images/master/reportflash.gif);
    width: 35px;
    height: 17px;
    display: inline-block;
    margin: 2px 8px 0 7px;
}
.reportdata
{
    background-image: url(images/master/reportdata.gif);
    width: 35px;
    height: 17px;
    margin: 2px 8px 0 7px;
    display: inline-block;
}
.tool .action
{
    background-color: #F2F2F6;
    padding-left: 35px;
    padding-top: 8px;
}
.tool .toolTab
{
    padding-top: 5px;
    background-color: #F2F2F6;
    border-top: 1px solid #9CAFBD;
}
